<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.base.enterprise.dao.mybatis.mapper.EnterpriseMapper">
	<resultMap type="com.hand.base.enterprise.model.Enterprise"
		id="enterprise"></resultMap>
	
	<sql id="queryAllSql">
	SELECT
		 T1.ROW_ID            as id                  /*记录编号*/
		,T1.CREATED           as created             /*创建时间*/
		,T1.CREATED_BY        as createdBy           /*创建者ID*/
		,TO_CHAR(T1.LAST_UPD, 'yyyy-mm-dd hh24:mi:ss') as lastUpdated         /*最后更新时间*/
		,T1.LAST_UPD_BY       as lastUpdatedBy       /*最后更新者ID*/
		,T1.CORP_ID           as corpid              /*公司账套*/
		,T1.ORG_ID            as orgId               /*组织ID*/
		,T1.POSTN_ID          as postnId             /*职位ID*/
		,T1.NAME              as name                /*名称*/
		,T1.COMMENTS          as comments            /*说明*/
		,T1.DEFAULT_PRICE     as defaultPrice        /*默认价格表ID*/
		,T1.X_ATTR_08         as qrCodeId            /*二维码图片ID*/
		,T1.X_ATTR_06         as firstname           /*管理人*/
		,T1.X_ATTR_07         as mobilePhone         /*管理人手机*/
		,T1.X_ATTR_01         as userId              /*用户ID*/
		,T1.CODE              as code                /*编号*/
		,T1.X_ATTR_02         as userName            /*用户名*/
		,T1.DEALER_APPLY_SELF as dealerApplySelf     /*经销商自助申请*/
		,T1.X_ATTR_03         as industryVersion     /*行业版*/
		,T1.X_ATTR_04         as crmDutyId           /*CRM职责ID*/
		,T1.X_ATTR_05         as appDutyId           /*APP职责ID*/
		,TO_CHAR(T1.X_ATTR_31, 'yyyy-mm-dd hh24:mi:ss') as beginDate           /*开始时间*/
		,TO_CHAR(T1.X_ATTR_32, 'yyyy-mm-dd hh24:mi:ss') as endDate             /*结束时间*/
		,T1.CRM_ENABLED       as crmEnabled          /*是否可用CRM*/
		,T1.DMS_ENABLED       as dmsEnabled          /*是否可用DMS*/
		,T1.APP_ENABLED       as appEnabled          /*是否可用APP*/
		,T1.X_ATTR_21         as crmUserAmount       /*CRM用户数*/
		,T1.X_ATTR_22         as dmsUserAmount       /*DMS用户数*/
		,T1.X_ATTR_23         as appUserAmount       /*APP用户数*/
		,T1.X_ATTR_24         as qdUserAmount        /*企点用户数*/
		,T1.authorizer_appid as authAppid
		,T1.authorizer_access_token as authAccessToken
		,T1.authorizer_refresh_token as authRefreshToken
		,T2.PRICE_LIST_NAME   as priceListName       /*默认价格表名称*/
		,GET_HTTP_PATH('app', T6.ATTACHMENT_PATH) qrCodeUrl /*二维码图片地址*/
		,T3.NAME              as crmDutyName         /*CRM职责名*/
		,T4.RESP_NAME         as appDutyName         /*APP职责名*/
		,T1.X_ATTR_10         as emailServer         /*企业邮箱-服务器*/
		,T1.X_ATTR_41         as emailUsername       /*企业邮箱-用户名*/
		,T1.X_ATTR_42         as emailPsw            /*企业邮箱-密码*/
		,T1.X_ATTR_11		as homePage			/* 企业CRM首页 */
		,T1.X_ATTR_12 		as contactUsText     /*联系我们 */
		,T1.X_ATTR_13		as qdToken			/*企点token*/
		,T1.X_ATTR_14 		as qdAeskey     /*企点aeskey*/
	</sql>
	
	<sql id="fromTableSql">
	FROM LNK_ENTERPRISE T1
		,LNK_PRICE_LIST T2
		,LNK_DUTY T3
		,LNK_ROLE_RESP T4
		,LNK_EMP_INFO T5
		,LNK_ATTACHMENT T6
	WHERE 1=1
		AND (T1.DEFAULT_PRICE=T2.ROW_ID(+))
		AND (T1.X_ATTR_04=T3.ROW_ID(+))
		AND (T1.X_ATTR_05=T4.ROW_ID(+))
		AND (T1.X_ATTR_01=T5.ROW_ID(+))
		AND (T1.X_ATTR_08=T6.ROW_ID(+))


	</sql>
	
	<sql id="whereAllSql">
		<if test="code != null and code != '' ">
			and T1.CODE = #{code}
		</if>
		<if test="dealerApplySelf != null and dealerApplySelf != '' ">
			and T1.DEALER_APPLY_SELF = #{dealerApplySelf}
		</if>
	</sql>
	
	<sql id="orderByAllSql">
	
	</sql>	
	
	<!-- 记录总数 -->
	<select id="queryCountByExample" resultType="java.lang.Integer" parameterType="com.hand.base.enterprise.model.Enterprise">
		SELECT count(1)
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
	</select>
	
	<select id="queryByExamplePage" resultMap="enterprise"
		parameterType="com.hand.base.enterprise.model.Enterprise">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
	</select>
	
	<select id="queryById" resultMap="enterprise"
		parameterType="com.hand.base.enterprise.model.Enterprise">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
		and T1.ROW_ID=#{id}
	</select>
	
	<select id="queryAll" resultMap="enterprise"
		parameterType="com.hand.base.enterprise.model.Enterprise">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
	</select>

	<insert id="insert" parameterType="com.hand.base.enterprise.model.Enterprise">
		INSERT INTO LNK_ENTERPRISE(
		 ROW_ID              /*记录ID*/
		,NAME                /*名称*/
		,COMMENTS            /*说明*/
		,DEFAULT_PRICE       /*默认价格表ID*/
		,X_ATTR_08           /*二维码图片ID*/
		,X_ATTR_06           /*管理人*/
		,X_ATTR_07           /*管理人手机*/
		,X_ATTR_01           /*用户ID*/
		,CODE                /*编号*/
		,X_ATTR_02           /*用户名*/
		,DEALER_APPLY_SELF   /*经销商自助申请*/
		,X_ATTR_03           /*行业版*/
		,X_ATTR_04           /*CRM职责ID*/
		,X_ATTR_05           /*APP职责ID*/
		,X_ATTR_31           /*开始时间*/
		,X_ATTR_32           /*结束时间*/
		,CRM_ENABLED         /*是否可用CRM*/
		,DMS_ENABLED         /*是否可用DMS*/
		,APP_ENABLED         /*是否可用APP*/
		,X_ATTR_21           /*CRM用户数*/
		,X_ATTR_22           /*DMS用户数*/
		,X_ATTR_23           /*APP用户数*/
		,X_ATTR_24           /*企点用户数*/
		,X_ATTR_10           /*企业邮箱-服务器*/
		,X_ATTR_41           /*企业邮箱-用户名*/
		,X_ATTR_42           /*企业邮箱-密码*/
		,X_ATTR_11			/*企业CRM首页 */
		,X_ATTR_12 	    /*联系我们 */
		) values (

		 #{id}               /*记录ID*/
		,#{name}             /*名称*/
		,#{comments}         /*说明*/
		,#{defaultPrice}     /*默认价格表ID*/
		,#{qrCodeId}         /*二维码图片ID*/
		,#{firstname}        /*管理人*/
		,#{mobilePhone}      /*管理人手机*/
		,#{userId}           /*用户ID*/
		,#{code}             /*编号*/
		,#{userName}         /*用户名*/
		,#{dealerApplySelf}  /*经销商自助申请*/
		,GET_LOV_VAL(#{usercorpid},'INDUSTRY_VERSION',#{industryVersion})/*行业版*/
		,#{crmDutyId}        /*CRM职责ID*/
		,#{appDutyId}        /*APP职责ID*/
		,TO_DATE(#{beginDate},'yyyy-mm-dd hh24:mi:ss') /*开始时间*/
		,TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss') /*结束时间*/
		,#{crmEnabled}       /*是否可用CRM*/
		,#{dmsEnabled}       /*是否可用DMS*/
		,#{appEnabled}       /*是否可用APP*/
		,#{crmUserAmount}    /*CRM用户数*/
		,#{dmsUserAmount}    /*DMS用户数*/
		,#{appUserAmount}    /*APP用户数*/
		,#{qdUserAmount}    /*企点用户数*/
		,#{emailServer}      /*企业邮箱-服务器*/
		,#{emailUsername}    /*企业邮箱-用户名*/
		,#{emailPsw}         /*企业邮箱-密码*/
		,GET_LOV_VAL(#{usercorpid},'HOME_PAGE',#{homePage})/*CRM首页*/
		,#{	contactUsText}
		)
	</insert>

	<update id="update" parameterType="com.hand.base.enterprise.model.Enterprise">
		UPDATE LNK_ENTERPRISE SET
		 NAME                =#{name}             /*名称*/
		,COMMENTS            =#{comments}         /*说明*/
		,DEFAULT_PRICE       =#{defaultPrice}     /*默认价格表ID*/
		,X_ATTR_08           =#{qrCodeId}         /*二维码图片ID*/
		,X_ATTR_06           =#{firstname}        /*管理人*/
		,X_ATTR_07           =#{mobilePhone}      /*管理人手机*/
		,X_ATTR_01           =#{userId}           /*用户ID*/
		,CODE                =#{code}             /*编号*/
		,X_ATTR_02           =#{userName}         /*用户名*/
		,DEALER_APPLY_SELF   =#{dealerApplySelf}  /*经销商自助申请*/
		,X_ATTR_03           =GET_LOV_VAL(#{usercorpid},'INDUSTRY_VERSION',#{industryVersion})/*行业版*/
		,X_ATTR_04           =#{crmDutyId}        /*CRM职责ID*/
		,X_ATTR_05           =#{appDutyId}        /*APP职责ID*/
		,X_ATTR_31           =TO_DATE(#{beginDate},'yyyy-mm-dd hh24:mi:ss')        /*开始时间*/
		,X_ATTR_32           =TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss')          /*结束时间*/
		,CRM_ENABLED         =#{crmEnabled}       /*是否可用CRM*/
		,DMS_ENABLED         =#{dmsEnabled}       /*是否可用DMS*/
		,APP_ENABLED         =#{appEnabled}       /*是否可用APP*/
		,X_ATTR_21           =#{crmUserAmount}    /*CRM用户数*/
		,X_ATTR_22           =#{dmsUserAmount}    /*DMS用户数*/
		,X_ATTR_23           =#{appUserAmount}    /*APP用户数*/
		,X_ATTR_24           =#{qdUserAmount}     /*企点用户数*/
		,X_ATTR_10           =#{emailServer}      /*企业邮箱-服务器*/
		,X_ATTR_41           =#{emailUsername}    /*企业邮箱-用户名*/
		,X_ATTR_42           =#{emailPsw}         /*企业邮箱-密码*/
		,X_ATTR_11 = GET_LOV_VAL(#{usercorpid},'HOME_PAGE',#{homePage})/*CRM首页*/
		,X_ATTR_12 = #{contactUsText}
		WHERE ROW_ID=#{id}
	</update>
	
	<update id="qrCodeImageUpdate" parameterType="com.hand.base.enterprise.model.Enterprise">
	 	UPDATE LNK_ENTERPRISE t
		   SET t.X_ATTR_08  = #{qrCodeId}
		 WHERE t.row_id = #{id}
  	</update>
  
	<delete id="deleteById" parameterType="com.hand.base.enterprise.model.Enterprise">
		DELETE FROM LNK_ENTERPRISE WHERE ROW_ID=#{id}
	</delete>
	
  	<!-- 初始化企业 -->
  	<select id="initializeCompany" statementType="CALLABLE">
		CALL LNK_COMPANY_INIT_PKG.RUN_COMPANY_INIT(#{returnStatus,mode=OUT,jdbcType=VARCHAR},#{msgData,mode=OUT,jdbcType=VARCHAR},
			 #{param1,mode=IN,jdbcType=VARCHAR},#{param2,mode=IN,jdbcType=VARCHAR},#{param3,mode=IN,jdbcType=VARCHAR},
     	     #{param4,mode=IN,jdbcType=VARCHAR},#{param5,mode=IN,jdbcType=VARCHAR},#{param6,mode=IN,jdbcType=VARCHAR},
     	     #{attr1,mode=IN,jdbcType=VARCHAR},#{attr2,mode=IN,jdbcType=VARCHAR})
  	</select>
 
  	<!-- 删除企业 -->
  	<select id="deleteCompany" statementType="CALLABLE">
		CALL LNK_COMPANY_INIT_PKG.RUN_COMPANY_DELETE(#{returnStatus,mode=OUT,jdbcType=VARCHAR},#{msgData,mode=OUT,jdbcType=VARCHAR},
			 #{param1,mode=IN,jdbcType=VARCHAR},#{param2,mode=IN,jdbcType=VARCHAR},#{param3,mode=IN,jdbcType=VARCHAR},
     			 #{param4,mode=IN,jdbcType=VARCHAR},#{param5,mode=IN,jdbcType=VARCHAR})
  	</select>
  	
  	<update id="qidianAuthUpdate" parameterType="com.hand.base.enterprise.model.Enterprise">
		update lnk_enterprise
		   set authorizer_appid         = #{authAppid},
		       authorizer_access_token  = #{authAccessToken},
		       authorizer_refresh_token = #{authRefreshToken}
		 where row_id = #{id}
  	</update>
  	
  	<update id="authAccessTokenUpdate" parameterType="com.hand.base.enterprise.model.Enterprise">
		update lnk_enterprise
		   set authorizer_access_token  = #{authAccessToken}
		 where 1=1
		   and authorizer_appid = #{authAppid}
		   and authorizer_refresh_token = #{authRefreshToken}
  	</update>
  	
  	<select id="queryQidianEnt" resultMap="enterprise"
		parameterType="com.hand.base.enterprise.model.Enterprise">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
		and T1.authorizer_appid is not null
		and T1.authorizer_refresh_token is not null
	</select>
</mapper>
