<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.base.common.dao.mybatis.mapper.AnnounceMapper">
  <resultMap type="com.hand.base.common.model.Announce" id="announce"></resultMap>
  <resultMap type="com.hand.base.orgnization.model.Orgnization" id="orgnization"></resultMap>
    <sql id="queryAllSql">
	SELECT 
		T1.ROW_ID            as id,
		t1.created as created,
		T1.CREATED_BY        as createdBy,
		TO_CHAR(T1.LAST_UPD, 'yyyy-mm-dd hh24:mi:ss') as lastUpdated,
		T1.LAST_UPD_BY       as lastUpdatedBy,
		T1.CORP_ID corpid,
		       TO_CHAR(T1.start_date, 'yyyy-mm-dd hh24:mi:ss') startDate,
		       TO_CHAR(T1.end_date, 'yyyy-mm-dd hh24:mi:ss') endDate,
		       T1.CAPTIONS    captions,
		       T1.CONTENTS    contents,
		       T1.ORG_ID    	 orgId,
		       (SELECT org_name FROM LNK_ORG_EXT where row_id = T1.ORG_ID)  orgName,
		        T1.ANNE_STATUS anneStatus,
		       T1.anne_status anneStatusValue,
		        T1.ANNE_TYPE   anneType,
		       T1.ANNE_TYPE   anneTypeValue,
		        T1.ANNE_READER anneReader,
		        T1.IS_LIMITED  isLimited,
		       TO_CHAR(T1.PUBLISH_DATE, 'yyyy-mm-dd hh24:mi:ss') publishDate
	</sql>
	
	<sql id="whereAllSql">
		<if test="usercorpid != null and usercorpid != '' ">
			and T1.corp_id = #{usercorpid}
		</if>
		<if test="id != null and id != '' ">
			and T1.ROW_ID = #{id}
		</if>
		<if test="created != null and created != '' ">
			and T1.CREATED =  TO_DATE(#{created},'YYYY-MM-DD HH24:MI')
		</if>
		<if test="startDate != null and startDate != '' ">
			and T1.start_date =  TO_DATE(#{startDate},'YYYY-MM-DD HH24:MI')
		</if>
		<if test="endDate != null and endDate != '' ">
			and T1.end_date =  TO_DATE(#{endDate},'YYYY-MM-DD HH24:MI')
		</if>
		<if test="captions != null and captions != '' ">
			and T1.CAPTIONS = #{captions} 
		</if>
		<if test="contents != null and contents != '' ">
			and T1.CONTENTS = #{contents} 
		</if>
		<if test="anneType != null and anneType != '' ">
			and T1.ANNE_TYPE = GET_LOV_VAL(#{usercorpid}, 'ANNE_TYPE',#{anneType})
		</if>
		<if test="anneTypeValue != null and anneTypeValue != '' ">
			and T1.ANNE_TYPE = #{anneTypeValue} 
		</if>
		<if test="anneReader != null and anneReader != '' ">
			and T1.ANNE_READER = GET_LOV_VAL(#{usercorpid}, 'ANNE_READER',#{anneReader})
		</if>
		<if test="isLimited != null and isLimited != '' ">
			and T1.IS_LIMITED = GET_LOV_VAL(#{usercorpid}, 'IS_LIMITED',#{isLimited})
		</if>
		<if test="publishDate != null and publishDate != '' ">
			and T1.PUBLISH_DATE =  TO_DATE(#{publishDate},'YYYY-MM-DD HH24:MI')
		</if>
	</sql>

	<sql id="fromTableSql">
	FROM LNK_ANNOUNCE T1
		  where T1.anne_status != 'N' 
	</sql>
	<select id="queryById" resultMap="announce"
		parameterType="com.hand.base.common.model.Announce">		
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
		and T1.ROW_ID=#{id}
		
	</select>

	<!-- 记录总数 -->
	<select id="countByExample" resultType="java.lang.Integer" 
		parameterType="com.hand.base.common.model.Announce">
		SELECT count(1)
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
	</select>

	<!-- 查询所有 -->
	<select id="queryAllPage" resultMap="announce"
		parameterType="com.hand.base.common.model.Announce">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
	</select>

	<!-- 根据条件查询记录 -->
	<select id="queryByExamplePage" resultMap="announce"
		parameterType="com.hand.base.common.model.Announce">
		<include refid="queryAllSql"/>
		<include refid="fromTableSql"/>
		<include refid="whereAllSql"/>
	</select>
	
    <insert id="announceInsert" parameterType="com.hand.base.common.model.Announce">
	    INSERT INTO LNK_ANNOUNCE
	      (ROW_ID,
	       anne_status)
	    VALUES
	      (#{id},
	       'N'
	       )
    </insert>
    
    <update id="update" parameterType="com.hand.base.common.model.Announce">
     UPDATE LNK_ANNOUNCE
      SET captions    = #{captions},
          contents	  = #{contents},
          start_date  = TO_DATE(#{startDate}, 'yyyy-mm-dd hh24:mi:ss'),
          end_date    = TO_DATE(#{endDate}, 'yyyy-mm-dd hh24:mi:ss'),
          anne_type   = GET_LOV_val(#{usercorpid},'ANNE_TYPE',#{anneType}),
          anne_status   = GET_LOV_val(#{usercorpid},'ANNE_STATUS',#{anneStatus}),
          org_id	  = #{orgId},
          anne_reader = GET_LOV_val(#{usercorpid},'ANNE_READER',#{anneReader}),
          is_limited  = GET_LOV_val(#{usercorpid},'IS_LIMITED',#{isLimited})
    WHERE ROW_ID = #{id}
  </update>
  
  <delete id="deleteById" parameterType="com.hand.base.common.model.Announce">
  	DELETE FROM LNK_ANNOUNCE WHERE ROW_ID = #{id}
  </delete>
  
  <insert id="orgOfAnnounceInsert" parameterType="com.hand.base.common.model.Announce">
	    INSERT INTO LNK_INTER_ANNE_ORG
	      (ROW_ID,
	       anne_id,
	       org_id)
	    VALUES
	      (s_sequence_pkg.get_next_rowid(),
	       #{id},
	       #{orgId}
	      )
  </insert>
  
  <delete id="orgOfAnnounceDel" parameterType="com.hand.base.common.model.Announce">
  	DELETE FROM LNK_INTER_ANNE_ORG WHERE ROW_ID = #{id}
  </delete>
  
  <select id="querySelectedOrgListPage" resultMap="orgnization" parameterType="com.hand.core.basic.query.QueryParams">
     select t1.row_id        id,
            t3.created       created,
            t3.org_code      orgCode,
            t3.row_id      	 orgId,
            t3.org_name      text,
             t3.org_type orgType,
             t3.is_effective isEffective,
            t3.parent_org_id parentOrgId,
            t4.org_name      parentOrgName
       from LNK_INTER_ANNE_ORG t1,
            LNK_ANNOUNCE    t2,
            LNK_ORG_EXT     t3,
            LNK_ORG_EXT     t4
      where 1 = 1 and t2.corp_id=#{usercorpid}
        and t1.anne_id = t2.row_id
        and t1.org_id = t3.row_id
        and t3.parent_org_id is not null
        and t3.is_effective = 'Y'
        and t3.parent_org_id = t4.row_id(+)
        and t1.anne_id = #{id}
  </select>
  
   <select id="queryUnSelectedOrgListPage" resultMap="orgnization" parameterType="com.hand.core.basic.query.QueryParams">
     select 
     	T1.ROW_ID            as id,
		t1.created as created,
		T1.CREATED_BY        as createdBy,
		TO_CHAR(T1.LAST_UPD, 'yyyy-mm-dd hh24:mi:ss') as lastUpdated,
		T1.LAST_UPD_BY       as lastUpdatedBy,
		T1.CORP_ID corpid,
            t1.org_code orgCode,
            t1.org_name text,
            t1.parent_org_id parentOrgId,
             t1.org_type orgType,
             t1.is_effective isEffective,
            t2.org_name parentOrgName
       from LNK_ORG_EXT t1, LNK_ORG_EXT t2
      where 1 = 1 and t1.corp_id=#{usercorpid}
        and t1.parent_org_id is not null
        and t1.org_type = 'ORG_CHANNEL'
        and t1.parent_org_id = t2.row_id(+)
        and not exists (SELECT 1 FROM LNK_INTER_ANNE_ORG where anne_id = #{id} and org_id = t1.row_id)

  </select>
  
  <update id="publishAnnounceUpdate" parameterType="com.hand.base.common.model.Announce">
     UPDATE LNK_ANNOUNCE
      SET captions    = #{captions},
          contents	  = #{contents},
          start_date  = TO_DATE(#{startDate}, 'yyyy-mm-dd hh24:mi:ss'),
          end_date    = TO_DATE(#{endDate}, 'yyyy-mm-dd hh24:mi:ss'),
          anne_status = 'PUBLISHED',
          anne_type   = GET_LOV_val(#{usercorpid},'ANNE_TYPE',#{anneType}),
          anne_reader = GET_LOV_val(#{usercorpid},'ANNE_READER',#{anneReader}),
          is_limited  = GET_LOV_val(#{usercorpid},'IS_LIMITED',#{isLimited}),
          publish_date = sysdate
    WHERE ROW_ID = #{id}
  </update>
  
  <update id="announceManageUpdate" parameterType="com.hand.base.common.model.Announce">
   UPDATE LNK_ANNOUNCE
      SET captions    = #{captions},
          start_date  = TO_DATE(#{startDate}, 'yyyy-mm-dd hh24:mi:ss'),
          end_date    = TO_DATE(#{endDate}, 'yyyy-mm-dd hh24:mi:ss'),
          anne_status = GET_LOV_val(#{usercorpid},'ANNE_STATUS',#{anneStatus}),
          anne_type   = GET_LOV_val(#{usercorpid},'ANNE_TYPE',#{anneType}),
          anne_reader = GET_LOV_val(#{usercorpid},'ANNE_READER',#{anneReader}),
          is_limited  = GET_LOV_val(#{usercorpid},'IS_LIMITED',#{isLimited}),
          publish_date = TO_DATE(#{publishDate}, 'yyyy-mm-dd hh24:mi:ss')
    WHERE ROW_ID = #{id}

  </update>
  
  <select id="queryAnneInterPage" resultMap="announce" parameterType="com.hand.core.basic.query.QueryParams">
		SELECT 
		T1.ROW_ID            as id,
		t1.created as created,
		T1.CREATED_BY        as createdBy,
		TO_CHAR(T1.LAST_UPD, 'yyyy-mm-dd hh24:mi:ss') as lastUpdated,
		T1.LAST_UPD_BY       as lastUpdatedBy,
		T1.CORP_ID corpid,
		       TO_CHAR(t1.start_date, 'yyyy-mm-dd hh24:mi:ss') startDate,
		       TO_CHAR(t1.end_date, 'yyyy-mm-dd hh24:mi:ss') endDate,
		       t1.captions captions,
		       t1.contents contents,
		        t1.anne_status anneStatus,
		        t1.anne_type anneType,
		        t1.anne_reader anneReader,
		        t1.is_limited isLimited,
		       TO_CHAR(t1.publish_date, 'yyyy-mm-dd hh24:mi:ss') publishDate
		  FROM LNK_ANNOUNCE t1
		 where t1.anne_status = 'PUBLISHED'   and t1.corp_id=#{usercorpid}
		   and t1.anne_type = 'INTER'
		   and (sysdate between t1.start_date and t1.end_date)
		   and (('INTER_EMP' = #{attr1} and
		       (t1.is_limited = 'N' or exists
		        (SELECT 1
		             FROM LNK_INTER_ANNE_ORG   t2,
		                  LNK_PARTY_REL      t3,
		                  LNK_INTER_USER_POSTN t4,
		                  LNK_EMP_INFO      t5,
		                  LNK_POSTN_EXT     t6,
		                  LNK_ORG_EXT      t7
		            where t2.anne_id = t1.row_id
		              and t4.user_id = t5.row_id
		              and t4.postn_id = t6.row_id
		              and t6.dept_id = t7.row_id
		              and t4.user_id = #{attr2}
		              and (t2.org_id = t7.org_id or
		                  (t3.party_id = t2.org_id and t3.sub_party_id = t7.org_id) or
		                  (t3.party_id = t7.org_id and t3.sub_party_id = t2.org_id))))) or
		       ('OUTER_EMP' = #{attr1} and t1.anne_reader = 'INCLUDE_DEALER' and
		       (t1.is_limited = 'N' or exists
		        (SELECT 1
		             FROM LNK_INTER_ANNE_ORG         t9,
		                  LNK_PARTY_REL            t10,
		                  LNK_ACCNT_BUSINESS_SCOPE t11
		            where t9.anne_id = t1.row_id
		              and t11.acct_id = #{attr3}
		              and (t9.org_id = t11.org_id or (t10.party_id = t9.org_id and
		                  t10.sub_party_id = t11.org_id) or
		                  (t10.party_id = t11.org_id and
		                  t10.sub_party_id = t9.org_id))))))


  </select>
  
  <select id="queryAnneSalesTrendListPage" resultMap="announce" parameterType="com.hand.core.basic.query.QueryParams">
		SELECT 
		T1.ROW_ID            as id,
		t1.created as created,
		T1.CREATED_BY        as createdBy,
		TO_CHAR(T1.LAST_UPD, 'yyyy-mm-dd hh24:mi:ss') as lastUpdated,
		T1.LAST_UPD_BY       as lastUpdatedBy,
		T1.CORP_ID corpid,
		       TO_CHAR(t.start_date, 'yyyy-mm-dd hh24:mi:ss') startDate,
		       TO_CHAR(t.end_date, 'yyyy-mm-dd hh24:mi:ss') endDate,
		       t.captions    captions,
		       t.contents    contents,
		        t.anne_status anneStatus,
		        t.anne_type   anneType,
		        t.anne_reader anneReader,
		        t.is_limited  isLimited,
		       TO_CHAR(t.publish_date, 'yyyy-mm-dd hh24:mi:ss') publishDate
		  FROM LNK_ANNOUNCE t
		 where t.anne_status = 'PUBLISHED'   and t.corp_id=#{usercorpid}
		   and t.anne_type = 'SALES_TREND'
		   and (sysdate between t.start_date and t.end_date)
  </select>
  
  <select id="querySimpleAnnounceListSelect" resultType="com.hand.base.common.model.Announce" parameterType="com.hand.core.basic.query.QueryParams">
  		SELECT *
		  from (SELECT ROWNUM      rn,
		               ROW_ID      id,
		               captions    captions,
		               contents    contents,
		               start_date  startDate,
		               end_date    endDate,
		               CREATED     created,
		               CREATED_BY  createdBy,
		               LAST_UPD    lastUpdated,
		               LAST_UPD_BY lastUpdatedBy
		          FROM LNK_ANNOUNCE t1 where t1.corp_id=#{usercorpid})
		 where rn &lt; 7
  </select>
  
</mapper>